@model Library_SQLI.Models.Author

<h2>Détails de l'auteur</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">Nom</dt>
        <dd class="col-sm-10">@Model.Name</dd>
    </dl>
</div>

@if (Model.Books != null && Model.Books.Any())
{
    <h3>Livres de l'auteur</h3>
    <ul>
        @foreach (var book in Model.Books)
        {
            <li>@book.Title</li>
        }
    </ul>
}
else
{
    <p>Cet auteur n'a pas encore de libvre </p>
}

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Modifier</a>
<a asp-action="Delete" asp-route-id="@Model.Id"class="btn btn-outline-danger">Supprimer</a>
<a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
